body {
	font-family: "Times New Roman", Times, Georgia, Serif;
	background-color: #ffffff;
	color: #000000;
	font-size: 12pt;
}

a:link {
	color: #0000ff;
	font-weight: bold;
	text-decoration: none;
	background: none;
}

a:visited {
	color: #ff00ff;
	font-weight: bold;
	text-decoration: none;
	background: none;
}

a:hover {
	color: #00ffff;
	font-weight: bold;
	text-decoration: none;
	background: #000000;
}

a:active {
	color: #800080;
	font-weight: bold;
	text-decoration: none;
	background: none;
}
